/*Fonts imported google API*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Defining our header for each page. */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10% 10px 0px;
    background-color: black;
    z-index: 1000;
    width: 100%;

}

.header h1 {
    font-size: 35px;
    font-weight: 900;
}

.header p {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Style the navigation bar at the top of the page. */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Make it so that the navigation bar follows you when you scroll down! */
    z-index: 1;
    background: #0B090A;
    /* Color of navigation bar */
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    position: fixed; /* Fixed position to make it touch the top of the screen */
    width: 100%;
    top: 0;
    
}


.navbarlogo {
    /*Sizes and formatting of the logo*/
    float: left;
    width: 60px;
    height: 60px;
    margin: 10px;

}

header::after {
    /*Clearfix hack https://www.w3schools.com/howto/howto_css_clearfix.asp*/
    content: "";
    clear: both;
    display: table;
    
}

.navtitle {
    text-decoration: none;
    color: red;
    margin-left: 15px;

}
.nav-links ul{
    margin: 0;
    padding: 0  ;
    display: flex;
}
.nav-links li{
    list-style: none;
    
}
.nav-links{
    margin-left: auto;
}



/*Changing color of the navigation links*/
.nav-links li a{
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.toggle-button{
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}
.toggle-button .bar{
    height: 3px;
    
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

nav a:hover {
    /*Changes color when hoverd*/
    border-bottom: 1.6px solid #ff0004;
    padding-bottom: 1.8px;
    color: red;

}

nav a:active {
    /*Change color when you are in that tab*/
    color: #ff0004;
}

/*End of Navigation Bar*/

/*Footer*/
.footer {
    padding: 0px;
    width: 100%;
    background-color: black;
    color: white;
    list-style: none;
    display: inline-block;
    height: fit-content;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-align: center;
}

.iconstyling {
    width: 40px;
    height: 40px;
    text-decoration: none;
}

.iconlocation {
    padding-left: 20px;
    float: left;
    display: flex;

}

.hovering1:hover {
    opacity: 80%;
}

.hovering2:hover {
    opacity: 80%;
}


.textright {
    float: right;
    position: relative;
    top: -62px;
    padding: 20px;
    margin: 0;
}

.textleft {
    float: left;
    position: relative;
    top: -62px;
    padding: 5px;
    margin: 0;
}

/* Rows, side and main parts of page. */
.row {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex: 70%;
    background-color: aliceblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
}

.side {
    flex: 30%;
    background-color: lightblue;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    width: 100vw;
}

.side p {
    font-family: Arial, Helvetica, sans-serif;
}

.main p {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding-top: 40px;
    margin: 0;
    
}
/* Responsive */

@media(max-width: 600px){
    .toggle-button{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links ul{
        flex-direction: column;
        width: 100%;
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links li a{
        padding: .5rem 1rem;
    }
    .nav-links.active{
        display: flex;
    }
    .footer p {
        text-align: left;
    }

}
